@mixin title {
    font-family: $text-font;
    color:$details-color;
    font-size: 16px;
    line-height: 1.5;
};

@mixin text{
    font-family: $text-font;
    color: $text-color;
    font-size: 16px;
    line-height: 1.5;
}

@mixin button{
    background-color: $details-color;
    color: white;
    font-family: $text-font;
    border: $details-color;
    border-radius: 100px;
    padding: 10px;
    font-weight: 900; 
    text-align: center;
    cursor: pointer;
    &:hover{
        transition: 0.3s;
        background-color: $hover-color;
    }
}