$title-font: 'Pacifico', cursive;
$text-font: 'Arimo', sans-serif;


$text-color:#3B4A3F;
$card-title: #6F9B7A;

$dark-color: #00B75F;
$light-color: #84C659;


.container{
    padding: 0px 20px;
 
   @media (min-width: 768px){
     padding: 15px 20px;
    }
   @media (min-width: 768px){
     padding: 20px;
    }
  }